<ion-view view-title="Be a Sage Page by Page">
    <ion-content class="padding" overflow-scroll="false">

        <img src="img/sagepageblankbg.png" class="center">



        <div class="card" style="margin-top:2px; margin-bottom:8px">
            <div class="item item-text-wrap">
                Select the book and time ranges below to see how many pages you will need to read daily in order to complete it.
            </div>
        </div>

        <div class="list box-shadow-custom">
            <div ng-repeat="group in groups">
                <div class="item" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'" class="pull-right"></i> &nbsp; {{book.book}}
                </div>
                <div class="item-accordion item" ng-repeat="book in books" ng-show="isGroupShown(group)">
                    <label class="item item-radio" ng-click="selectBook(book, group)">
                        <input type="radio" name="group">
                        <div class="item-content">
                            {{book.book}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </div>
        </div>

        <div class="row" style="padding: 0 0 0 0px">
            <div class="col col-50">
                <div class="card">
                    <div class="item item-text-wrap">{{month}} {{month == 1? 'Month' : "Months" }}
                    </div>
                </div>
            </div>

            <div class="col col-25">
                <button class="button button-outline button-balanced button-block" ng-click="addMonth()"><span class="ion-plus-round"></span>
                </button>
            </div>
            <div class="col col-25">
                <button class="button button-outline button-positive button-block" ng-click="subtractMonth()"><span class="ion-minus-round"></button>
            </div>
        </div>
            
                 <div class="row" style="padding: 0 0 0 0px">
            <div class="col col-50">
                <div class="card">
                    <div class="item item-text-wrap">{{year}} {{year == 1? 'Year' : "Years" }}
                    </div>
                </div>
            </div>

            <div class="col col-25">
                <button class="button button-outline button-balanced button-block" ng-click="addYear()"><span class="ion-plus-round"></span>
                </button>
            </div>
            <div class="col col-25">
                <button class="button button-outline button-positive button-block" ng-click="subtractYear()"><span class="ion-minus-round"></button>
            </div>
        </div>



        <div class="card-green">
            <div class="item item-text-wrap">
                To read <b>{{book.book}}</b> in {{year == 0 ? '' : year}} {{year == 1 ? 'year' : year !== 0 ? 'years' :'' }} {{year !== 0 && month !== 0 ? 'and' : ''}} {{month == 0 ? '' : month}} {{month == 1 ? 'month' : month !== 0 ? 'months': ''}} you will have to read <b>{{formatPages(book, year, month)}} </b>{{formatPages(book, year, month) == 1 ? 'page' : 'pages'}} a day
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('a[data-toggle="collapse"]').click(function () {
                    $(this).find('span.toggle-icon').toggleClass('glyphicon-plus', 'glyphicon-minus')
                })
            })
        </script>

    </ion-content>
</ion-view>