<ion-view view-title="Dashboard">
    <ion-content class="padding">



        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Book
                </div>
                <select ng-model="book" ng-options="book.book for book in books track by book.id"></select>
            </label>

            This is showing "book" model: {{book}}

        </div>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Months
                </div>
                <select ng-model="month" ng-options="month for month in allMonths track by month"></select>
            </label>

            Showing month: {{month}}
        </div>

        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Years
                </div>
                <select ng-model="year" ng-options="year for year in allYears track by year"></select>
            </label>
            Showing year: {{year}} All years: {{allYears}} Allmonths: {{allMonths}}

        </div>

        Total Days: {{(+year)*365 + (+month)*30}} Pages to Read: {{book.pages / ((+year)*365 + (+month)*30)}}
    </ion-content>
</ion-view>