<ion-view view-title="Account">
    <ion-content class="padding">
        <ion-list>
            <ion-toggle ng-model="settings.enableFriends">
                Enable Friends
            </ion-toggle>
        </ion-list>
        <ion-item class="item-button-right">
            <div class="item-content">
                <h2>Facebook</h2>
            </div>
            <div class="buttons">
                <button class="button button-clear button-positive" ng-click="buttonAlert('Facebook')">
                    <span class="ion-social-facebook"></span>
                </button>
            </div>
        </ion-item>
        <ion-item class="item-button-right">
            <div class="item-content">
                <h2>Google+</h2>
            </div>
            <div class="buttons">
                <button class="button button-clear button-assertive" ng-click="buttonAlert('Google')">
                    <span class="ion-social-google"></span>
                </button>
            </div>
        </ion-item>
        <ion-item class="item-button-right">
            <div class="item-content">
                <h2>Twitter</h2>
            </div>
            <div class="buttons">
                <button class="button button-clear button-calm" ng-click="buttonAlert('Twitter')">
                    <span class="ion-social-twitter"></span>
                </button>
            </div>
        </ion-item>
    </ion-content>
</ion-view>