/* Empty. Add your own CSS if you like */

img.center {
    display: block;
    margin: 0 auto;
}

.card-green .item {
    border-color: #1bc98e;
    border-width: medium;
}

.buttons {
    top: 0 !important;
    height: 100% !important;
}